<div id="surprise-banner">
  <div class="surprise-banner-content">
    <i class="fa-solid fa-chevron-left"></i>
    <p>Free shiping accross Lahore | Karachi, Peshawar & Gilgit</p>
    <i class="fa-solid fa-chevron-right"></i>
  </div>
</div>

<div class="navbar">
  <div class="nav-row-left">Shop</div>
  <div class="nav-row-middle">Sehray-e-Khass</div>
  <div class="nav-row-right">
    <button>EXCLUSIVE REWARDS</button>
    <div class="icons">
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-user"></i>
      <i class="fa-solid fa-cart-shopping"></i>
    </div>
  </div>
</div>
