<nav>
  <div class="navbar">
    <div class="meun">
      <i class="btn collapse-menu-open-btn menu-icon">
        <i class="fa-solid fa-bars"></i>
      </i>

      <div class="collapse-menu">
        <div class="cross-btn btn">
          <i class="fa-solid fa-angle-left"></i>
          <p>back</p>
        </div>
        <div class="links">
          <a href="/Home"
            >Home
            <span class="anchorLine anchorLine-1"></span>
            <span class="anchorLine anchorLine-2"></span>
          </a>
          <a href="/collection"
            >Collection
            <span class="anchorLine anchorLine-1"></span>
            <span class="anchorLine anchorLine-2"></span>
          </a>
          <a href="/contact"
            >Contact US
            <span class="anchorLine anchorLine-1"></span>
            <span class="anchorLine anchorLine-2"></span>
          </a>
          <a href="/about"
            >About Us
            <span class="anchorLine anchorLine-1"></span>
            <span class="anchorLine anchorLine-2"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="brand-logo">
      <img src="/assets/temp_logo.svg" alt="SehraEKhaas_Logo" />
    </div>
    <div class="features">
      <i class="fa-regular fa-user sm-hide"></i>
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-bag-shopping"></i>
    </div>
  </div>
  <div class="navbar-banner">
    <i class="fa-solid fa-angle-left"></i>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <i class="fa-solid fa-angle-right"></i>
  </div>
</nav>
