<nav>
  <div class="navbar">
    <div class="meun">
      <i class="menu-icon">
        <i class="fa-solid fa-bars"></i>
      </i>

      <div class="colapse-menu">
        <a href="/Home">Home</a>
        <a href="/collection">Collection</a>
      </div>
    </div>
    <div class="brand-logo">
      <img src="/assets/temp_logo.svg" alt="SehraEKhaas_Logo" />
    </div>
    <div class="features">
      <i class="fa-regular fa-user sm-hide"></i>
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-bag-shopping"></i>
    </div>
  </div>
  <div class="navbar-banner">
    <i class="fa-solid fa-angle-left"></i>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <i class="fa-solid fa-angle-right"></i>
  </div>
</nav>
