<%- layout("layouts/boilerplate") %>

<body>
  <div class="collection-1">
    <div class="hero-page">
      <div class="hero-banner">
        <img src="/assets/hero-banner-1.png" alt="Hero-Banner" />
      </div>
      <div class="floating-hero-section">
        <div class="heading"><h1>Fall Winter '25</h1></div>
        <div class="message"><h2>A SUMMER IN RARINIZ</h2></div>
        <div class="link"><a href="/">SHOP NOW</a></div>
      </div>
    </div>
  </div>
</body>
