<%- layout("layouts/boilerplate") %>

<body>
  <div class="hero-page">
    <video autoplay muted playsinline loop preload="auto" class="hero-video">
      <source src="/assets/hero-video.mp4" type="video/webm" />
      <!-- <source src="movie.ogg" type="video/ogg" /> -->
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="collection-page">
    <div class="collection-banner"></div>
    <div class="collection-pieces"></div>
  </div>
</body>
