<%- layout("layouts/boilerplate") %>

<body>
  <div class="hero-page">
    <video autoplay muted playsinline loop preload="auto" class="hero-video">
      <source src="/assets/hero-video.mp4" type="video/webm" />
      <!-- <source src="movie.ogg" type="video/ogg" /> -->
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="collection">
    <div class="collection-banner">
      <img src="/assets/collection-1.svg" alt="collection-banner" />
    </div>
    <div class="collection-pieces">
      <div class="collection-1">
        <div class="collectio-piece">
          <div class="top">
            <img
              src="/assets/sample-collection-1.jpg"
              alt="sample-collection-1"
            />
          </div>
          <div class="bottom">
            <p><b class="name">Lorem, ipsum.</b></p>
            <b class="description">Lorem ipsum dolor sit amet consectetur.</b>
            <p>Price: <b>$100</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
