<%- layout("layouts/boilerplate") %>

<body>
  <div class="product-page">
    <div class="left">
      <div class="filters">
        <div class="category"></div>
        <div class="subCategory"></div>
      </div>
    </div>
    <div class="right"></div>
  </div>
</body>
