* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#surprise-banner {
  width: 100dvw;
  height: 2.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: aqua;
}

.surprise-banner-content {
  display: flex;
  font-size: 0.84rem;
  gap: 1rem;
}

.navbar {
  height: 10dvh;
  width: 100dvw;
  background-color: rgb(223, 67, 67);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.navbar .nav-row-right {
  display: flex;
  gap: 2rem;
}

.navbar .nav-row-right .icons i {
  margin-right: 1rem;
}

.navbar .nav-row-right button {
  padding: 0.5rem 1rem;
  background-color: none;
  border: 1px solid black;
  border-radius: 2rem;
}

.hero-page {
  width: 100vw;
  height: 85vh;
  background-color: blue;
  position: relative;
}

.hero-page .floating-hero-section {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 40%;
  left: 5%;
}

.hero-page .hero-banner {
  width: 100%;
  height: 100%;
}

.hero-page .hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-page .floating-hero-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-page .floating-hero-section h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: gold;
}

.collection-list {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.collection-card {
  width: 21%;
  height: 85%;
  background-color: aqua;
  margin: 2rem 1rem;
  border-radius: 0.2rem;
  overflow: hidden;
}

.collection-card .card-image {
  width: 100%;
  height: 85%;
  background-color: pink;
}

.collection-card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.collection-card .card-content {
  background-color: grey;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
