* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.brand-logo img {
  width: 5vw;
}

nav {
  width: 100vw;
  padding: 0 3rem;
}

.navbar {
  height: 15vh;
  background-color: olive;
}

.navbar .features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8rem;
}

.navbar i {
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar i.menu-icon {
  scale: 1.2;
}

.navbar-banner {
  width: 100%;
  height: 5vh;
  background-color: blue;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.navbar-banner p {
  margin-bottom: 0;
}
