* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #145e3c;
  --navbar-bd-color: #f4f4e8;
}

.brand-logo img {
  width: 5vw;
}

nav {
  width: 100vw;
}

.navbar {
  height: 15vh;
  padding: 0 3rem;
  background-color: var(--navbar-bd-color);
}

.navbar .features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8rem;
}

.navbar i {
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar i.menu-icon {
  scale: 1.2;
}

.navbar-banner {
  width: 100%;
  height: 5vh;
  background-color: var(--brand-color);
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  color: white;
}

.navbar-banner p {
  margin-bottom: 0;
}

/* Mobile */
@media (max-width: 450px) {
  .sm-hide {
    display: none;
  }
  .navbar-banner {
    gap: 0.8rem;
  }

  .navbar i {
    font-size: 1;
  }

  .navbar i.menu-icon {
    scale: 1;
  }

  .brand-logo img {
    width: 10vw;
  }
}
